@model UserViewModel
@{
}

<h3> @Html.DisplayFor(model => model.Name)</h3>
<h3> @Html.DisplayFor(model => model.Email)</h3>
<h3> @Html.DisplayFor(model => model.Bio)</h3>
<h3> @Html.DisplayFor(model => model.PhoneNumber)</h3>
